@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 2 px;
  background-color: #f4f4f4;
  transform: scale (0.95); 
  transform-origin: 0 0;
  padding-bottom: 0; 
  line-height: 1.6;
}
.contenedor {
    max-width: 1200 px;
    margin: 0 auto; 
    display: grid;
    
    
}


.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #191c32;
  color: #fff;

}







.menu {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 100px;
  
  
  
  
  
  
  
  
  
  
}

.menu li {
  list-style: none;
  justify-content: space-between;
  padding: 2px;
  align-items: center;
  

  

  
  
  
}

.menu a {
  text-decoration: none;
  padding: 10px;
  

}

.navbar {
  display: flexbox;
  padding: 20px;
  align-items: center;
  justify-content: center;
 
  
  
  
  
  
  
  
  
  
  
  
  
}


.brand {
  margin-top: 2px;
  margin-right: 20px;
  
  
  
}


.brand span {
  color: greenyellow;

}



.menu a {
  color: white;
  
  
  
}

.menu .active {
  color:greenyellow;
}

.menu a.active {
  background-color: black;
}

.menu a:hover {
  background-color: aquamarine;
  color: #191c32;
  transition: ease-in .4s;
}

.main {
  margin: 0 auto;
  width: 90vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(1,2fr);
  align-items: center;
  padding: 5em;
  justify-content: space-around;
}

.h1 {
  font-size: 2em;
  
}

.Download-CV {
  padding: 10px 20px;
  background-color: greenyellow;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;

}

.Download-CV:hover {
  background-color: aquamarine;

}

.imagen-circular {
  width: 180px;
  height: 170px;
  border-radius: 200px;
  margin-right: 2em;
  padding: 5px;
  

}

.about {
  margin: 0 auto;
  width: 80vw;
  height: 83vh;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  align-items: center;
  margin-top: 2%;
  margin-bottom: 8%;
  
}



.about img {
  margin: 6%;
  width: 200px;
  height: 200px;
  border-radius: 70%
  
  
}

.about-info {
  grid-column: 4/10;
  padding: 1em;
}

.about-info h2 {
  font-size: 2em;
}

.divider {
  width: 60px;
  height: 4px;
  background-color: greenyellow;
  margin-top: 3%;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
  color:#1a1a1a;
}

.content {
  max-height: 3lh;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  
}

input:checked ~ .content {

  max-height: 100lh;
}

.portfolio {
  width: 100%;
  background-color: #191c32;
  color: #fff;
}

.portfolio .menu a {
  color: #fff;
}
.portfolio-headings {
  width: 100vw;
  padding: 1em;

}

.portfolio-headings h2 {
  font-size: 2em;

}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;

}

.card {
  width: 250px;
  height: 350px;
  color: #191c32;
  background-color: beige;
  justify-content: center;
  margin: 1em;
  
}

.card_image {
  width: 250px;
  height: 150px;
  background-image: url(../img/portfolio-imagenIA.jpeg);
  background-size: cover;
  margin-bottom: 2px;
 
}

.card .card_title {
  padding: 15px;
  margin-top: 2px;
  justify-content: center;
  align-self: center;
  margin-left: 15px;
  

}

.card .project-links {
  display: flex;
  justify-content: center;
  margin-top: 1px;
 
 
}

.card .project-links i {
  color:#191c32;
  font-size: 1.5em;
  align-content: center;
  margin: 10px;
  
}

.card .project-links i:hover {
  background-color: rgb(227, 76, 76);
  border-radius: 100%;
}

.card .project-details {
  margin: 0 auto;
  margin: 1em;
  width: 70%;
  
  
  
  
}

.card .project-details a {
  text-decoration: none;
  color: #191c32;
  text-transform: uppercase;

}

.card .project-details {
  display: flex;
  width: 50%;
  justify-content: center;
  margin-top: 2px;
}



.project-details-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}

.portfolio-headings .divider {
  width: 60px;
  height: 4px;
  margin-top: 1%;
  margin-bottom: 2em;
}

.contact-headings h2{
  font-size: 3em;
  
  
}

.contact-section {
  padding: 3em;
  margin: 0 auto;
  color: #191c32;
}

.contact-headings .divider {
  width: 70px;
  height: 5px;
  margin-top: 1%;
  margin-bottom: 2em;
}



.btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: greenyellow;
  border-radius: 20px;
  cursor: pointer;
  text-emphasis-color: white;
}

.btn-submit:hover {
  background-color: aqua;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: #191c32;
  color: white;
}


@media (max-width: 768px) {
  h1 {
      font-size: 1.5rem;
  }

  p {
      font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 1.2rem;
  }

  p {
      font-size: 0.8rem;
  }
}
